name: ci

on: pull_request

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: subosito/flutter-action@v1
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze .

      - name: Test
        run: flutter test .